*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.container{
    background: black;
    display: flex;
    

    
}
.lefl{
    padding: 20px;
}
ul {
    padding: 15px;
    
    
    display: flex;
    list-style: none;
}
li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

a:hover{
    background: orange;
}

.right{
    margin-top: 20px;
    color:blue;
    margin-left: 600px;
    
}
h2{
    font-family: brush script mt;
}

.footer{
    bottom: 0;
    position: static;
    background: rgb(8, 8, 56);
    width: 90.5%;
    color: white;
    padding: 60px;
}

.header{
    background-image: url(../images/headerbackg.PNG);
    padding: 150px;
    color: white;
    width: 76.3%;
}
.text{
    text-align: center;
}
.contaction{
    display: flex;
    margin-left: 50px;
    
}
.social{
    margin-left: 500px;
}
.form{
    padding: 10px;
}
fieldset{
    height: 300px;
    background: rgb(105, 214, 241);
    
}
form{
    padding: 10px;
}
#name,
#email,
#message{
    padding:10px ;
    margin-bottom: 5px;
}
button{
    padding:10px ;
    width: 200px;
    margin-left: 40px;
    background:blue;
    color: white;
}
.social{

}







