*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100hv;
}
.container{
    background: black;
    padding: 20px;
    display: flex;
    
   
    
}
a{
    padding: 15px;
    text-decoration: none;
    color: white;

}
a:hover{
    background: orange;
}

